# 忽略所有的 .pyc 文件
*.pyc

# 忽略虚拟环境目录
.venv/

# 忽略编辑器生成的文件
.vscode/
.idea/

# 忽略日志文件
logs/

# 忽略依赖目录
__pycache__/

# 忽略配置文件
.env

# 忽略运行时生成的文件
*.log

# 忽略缓存文件
.cached/

# 忽略编译后的文件
*/__pycache__/


# 忽略配置文件
config/setting.py

# 忽略编译后的文件
*/__pycache__/
